body {
  background-color: antiquewhite;
  font-family: "poppins",serif;
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
h1
{
    font-size: 3rem;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
}
nav ul{
    display: flex;
    list-style: none;
    height: 65px;
    background-color: black;
    color: white;
    align-items: center;
}
.logo img
{
    width: 47px;
    margin-right: 5px;

}
.logo
{
    display: flex;
    align-items: center;
    font-weight: bold;
    padding: 0 ;
    margin-right: 12px;
}
nav ul li{
    padding: 0 12px;
}
.bottom
{
    position:sticky;
    height: 100px;
    background-color: black;
    bottom: 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container
{
    height: 100vh;
    color: white;
    background-image : url(./premium_photo-1682125896993-12a1758b6cb3.avif);
    background-color: black;

}
#myprogress
{
    width: 50vw;
    cursor: pointer;
}
.icons
{
    color: white;
    padding: 10px;
}
.icon
{
    margin-left: 20px;
    cursor: pointer;
}
.song-item img
{
    width: 70px;
    height: 70px;
    border: 5px solid rgba(255, 255, 255, 0.819);
    border-radius: 13%;
}
.song-item
{
    width: 50%;
    border-radius: 32px;
    background-color: rgba(255, 255, 255, 0.775);
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    color: black;
    justify-content: space-between;
}
span
{
    font-size: 25px;
}
.play-duration
{
    padding: 0 15px;
}
.music
{
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
}
::selection
{
    color: black;
    background-color: white;
}
.player
{

    position: absolute;
    left: 0;
}
.player img
{
    transition: opacity 1s ease-in;
    opacity: 0;
    margin-left: 15px;
}
.songName
{
    font-size: 20px;
    padding-left: 5px;
}